<!DOCTYPE html>
<html>
  <head>
    <title>Lol Api</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Font icons Riot Games -->
    <link data-react-helmet="true" type="text/css" rel="stylesheet" href="https://s.lolstatic.com/awesomefonts/1.0.0/lol-fonts.css">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"></script>
  </head>

  <body>
    <!-- Nav -->
    <%= render 'layouts/site_partials/nav' %>

    <!-- Body -->
    <%= yield %>

    <!-- Footer -->
    <%= render 'layouts/site_partials/footer' %>
  </body>
</html>
