<!DOCTYPE html>
<html>
  <head>
    <title>LolApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <!-- Nav -->
    <%= render 'layouts/site_partials/nav' %>

    <!-- Body -->
    <%= yield %>

    <!-- Footer -->
    <%= render 'layouts/site_partials/footer' %>
  </body>
</html>
